blib*
Makefile
Makefile.old
Build
Build.bat
_build*
pm_to_blib*
*.tar.gz
.lwpcookies
cover_db
pod2htm*.tmp
RUM-Index-*
MYMETA.*
_testing
*~
\#*
.\#*
META.yml
META.json
bin/blat
bin/bowtie
bin/mdust
./data
indexes
organisms.txt
rum.config_*
.DS_Store
rum.log
TAGS
*.log
nohup.out
nytprof
nytprof.out
